.daily-forecast {
  padding: 20px;
  margin: auto 15px;
  max-width: 850px;
  align-content: center;
}
.daily-weather {
  text-align: center;
  padding: 20px;
  margin: auto 12px;
  line-height: 30px;
  color: #0c0c0c;
  border: 2px solid #84d9f3;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
}
.daily-forecast-day {
  font-size: 17px;
  column-width: auto;
}
.daily-forecast-temp {
  font-size: 14px;
}
.daily-forecast-temp-min {
  color: #a49f9f;
}
.forecast-name {
  margin-left: 5px;
  padding: 25px;
  font-size: 30px;
  color: #0e5870;
}

.forecast {
 border: 1px solid #daddda;
  background-color: #bbe4e9;
  border: 2px solid #84d9f3;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
  margin: 25px auto;
  padding: 10px;
  max-width: 850px;}